<!-- app/views/public/customers/edit.html.erb -->
<h1><%= "#{@customer.last_name}#{@customer.first_name}さんの会員情報編集" %></h1>

<%= form_with model: @customer, url: customers_information_path, local: true do |f| %>


  <div class="field">
    <%= f.label :last_name, "氏名" %>
    <%= f.text_field :last_name, value: @customer.last_name %>
    <%= f.text_field :first_name, value: @customer.first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "フリガナ" %>
    <%= f.text_field :last_name_kana, value: @customer.last_name_kana %>
    <%= f.text_field :first_name_kana, value: @customer.first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code, value: @customer.postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, value: @customer.address %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号" %>
    <%= f.text_field :phone_number, value: @customer.phone_number %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, value: @customer.email %>
  </div>


  <div class="actions">
    <%= f.submit '変更を保存', class: 'save_button' %>
  </div>
<% end %>