<div class="container pt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="mb-4">マイページ</h2>
     <h3>登録情報</h3>
       <%= link_to '編集する', edit_customer_information_path(@customer), class: "btn btn-success mb-4" %>


      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th class="table-secondary w-25">氏名</th>
            <td><%= @customer.first_name %> <%= @customer.last_name%></td>
          </tr>
          <tr>
            <th class="table-secondary">カナ</th>
            <td><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
          </tr>
          <tr>
            <th class="table-secondary">郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th class="table-secondary">住所</th>
            <td><%= @customer.address %></td>
          </tr>
           <tr>
            <th class="table-secondary">電話番号</th>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th class="table-secondary">メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </table>
      </div>

      <h3>配送先</h3>
      <%= link_to '一覧を見る', addresses_path, class: "btn btn-info mb-4" %>
      <h3>注文履歴</h3>
      <%= link_to '一覧を見る', orders_path, class: "btn btn-info mb-4" %>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
