<div class="container mt-5">
  <div class="row gy-5" style="display: flex; justify-content: space-between;">
    <div class="col-md-2">
      <h3 class="px-4" style="background-color: #eee;">商品一覧</h3>
    </div>
    <div class="col-md-1">
      <%= link_to "＋", new_admin_item_path, class: "btn btn-lg btn-outline-light bg-light rounded-circle shadow-sm text-secondary", style: "font-size:30px;" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table mt-4">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item) %></td>
              <td><%= item.price.floor.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active == true %>
                  <span class="text-success">販売可能</span>
                <% else %>
                  <span class="text-muted">販売不可</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!--ここのページネーションは見た目だけ表示してて、機能はまだありません！-->
  <div class="d-flex justify-content-center">
    <%= paginate @items, theme: 'bootstrap-5' %>
  </div>
</div>