<h1>新規商品投稿用フォーム</h1>

<%= form_with(model: @item, url: admin_items_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </div>
  
  <div class="field">
    <%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>