<h1>新規商品投稿用フォーム</h1>
<%= form_with(model: @item, url: admin_items_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>