<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <h3 class="px-3 text-center" style="background-color: #eee;">商品詳細</h3>
    </div>
  </div>
      <div class="row mt-5">
        
        <!-- 左側 -->
        <div class="col-sm-3">
          <div class="product-details">
            <div class="product-image">
              <%= image_tag @item.image, size: "300x300", class: "img-fluid" %>
            </div>
          </div>
        </div>
        
        <!-- 右側 -->
        <div class="col-sm-9">
          <div class="row">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="col-sm-2">商品名</td>
                <td><%= @item.name %></td>
              </tr>
              <tr>
                <td>商品説明</td>
                <td><%= @item.introduction %></td>
              </tr>
              <tr>
                <td>ジャンル</td>
                <td><%= @item.genre.name %></td>
              </tr>
              <tr>
                <td>価格</td>
                <td>税抜価格: <%= number_with_delimiter(@item.price, delimiter: ',') %> 円</td>
              </tr>
              <tr>
                <td>ステータス</td>
                <td class="<%= @item.is_active ? 'text-success' : 'text-danger' %>">
                  <% if @item.is_active == true %>
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
        
        
        <div class="container d-flex justify-content-center">
           <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success mr-5" %>
           <%= link_to "削除する", admin_item_path(@item), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>