<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 mb-3">
      <h3 class="px-4 text-center" style="background-color: #eee;"><%= @customer.first_name %> <%= @customer.last_name %>さんの会員詳細編集</h3>
    </div>
  </div>
  
  <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, local: true do |f| %>
    <% render "public/shared/error_messages", resource: @customer %>

     <div class="row">
      <label class="col-lg-3">名前</label>
      <div class="col-lg-3">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",  placeholder: "令和", class: "form-control" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",  placeholder: "道子", class: "form-control" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">フリガナ</label>
      <div class="col-lg-3">
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "kana_first_name",  placeholder: "レイワ", class: "form-control" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "kana_last_name",  placeholder: "ミチコ", class: "form-control" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">郵便番号（ハイフンなし）</label>
      <div class="col-lg-3">
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code",  placeholder: "0000000", class: "form-control" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">住所</label>
      <div class="col-lg-3">
        <%= f.text_field :address, autofocus: true, autocomplete: "address",  placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">電話番号（ハイフンなし）</label>
      <div class="col-lg-3">
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number",  placeholder: "0000000000", class: "form-control" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.text_field :email, autofocus: true, autocomplete: "email",  placeholder: "sample@example.com", class: "form-control" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">会員ステータス</label>
      <div class="col-lg-3">
        <%= f.select :is_active, [['有効', true], ['退会済み', false]], {}, { class: 'form-control' } %>
      </div>
    </div><br>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-9"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
