<div class="container mt-5">
  <div class="row gy-5" style="display: flex; justify-content: space-between;">
    <div class="col-md-2">
      <h3 class="px-4" style="background-color: #eee;">会員一覧</h3>
    </div>
   </div>
    
  <div class="row">
    <div class="col">
      <table class="table mt-5">
        <thead class="thead-light">
        <tr style="background-color: #eee;">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.first_name, admin_customer_path(customer) %> <%= link_to customer.last_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td><span style="color:<%= customer.is_active ? 'green' : 'gray' %>;"><%= customer.is_active ? "有効":"退会" %></span></td>
          </tr>
        <% end %>
      </table>
    </div>  
  </div>    
  
  
  
<<<<<<< HEAD
     <div class="container d-flex justify-content-center">
      <%= paginate @customers, theme: 'bootstrap-5' %>
     </div>
=======
  <div class="container d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next &gt;</a></li>
        <li class="page-item"><a class="page-link" href="#">Last &gt;&gt;</a></li>
      </ul>
    </nav>
>>>>>>> e9de885 (管理者側view調整)
  </div>
</div>

