<div class="container">
  <div class="row">
    <h2>会員一覧</h2>

      <table class="table">
        <thead class="table-">
        <tr class="table-secondary">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.first_name, admin_customer_path(customer) %> <%= link_to customer.last_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
           　<td class="<%= customer.is_active ? 'text-green' : 'text-gray' %>"><%= customer.is_active ? '有効' : '退会' %></td>
          </tr>
        <% end %>
      </table>
      <!--ここのページネーションは見た目だけ表示してて、機能はまだありません！-->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next ></a></li>
          <li class="page-item"><a class="page-link" href="#">Last >></a></li>
        </ul>
      </nav>
    </div>
  </div>

