<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 mb-3">
      <h3 class="px-4 text-center" style="background-color: #eee;"><%= @customer.first_name %> <%= @customer.last_name %>さんの会員詳細</h3>
    </div>
   </div>
    <div class="pl-5">
      <p class="my-3"><strong>会員ID </strong><span style="margin-left:150px;"><%= @customer.id %></span></p>
      <p class="my-3"><strong>氏名 </strong><span style="margin-left:160px;"><%= @customer.first_name %> <%= @customer.last_name %></span></p>
      <p class="my-3"><strong>フリガナ </strong><span style="margin-left:130px;"> <%= @customer.first_name_kana %> <%= @customer.last_name_kana %></span></p>
      <p class="my-3"><strong>郵便番号 </strong><span style="margin-left:130px;"><%= @customer.postal_code %></span></p>
      <p class="my-3"><strong>住所 </strong><span style="margin-left:160px;"><%= @customer.address %></span></p>
      <p class="my-3"><strong>電話番号 </strong><span style="margin-left:125px;"><%= @customer.phone_number %></span></p>
      <p class="my-3"><strong>メールアドレス </strong><span style="margin-left:80px;"><%= @customer.email %></span></p>
      <p class="my-3"><strong>会員ステータス </strong><span style="margin-left:90px; color:<%= @customer.is_active ? 'green' : 'gray' %>;"><%= @customer.is_active ? '有効' : '退会済み' %></span></p>

     <%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-success btn-space' %>
     <!--%= link_to '注文履歴一覧へ', admin_customer_orders_path(@customer), class: 'btn btn-info' %-->

    </div>
  </div>
</div>
