<h1>注文情報確認画面</h1>

<!--支払い方法-->
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

<!-- お届け先>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name) %>

<div class="field">
    <%= f.label :genre_id, "ジャンル" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %>
  </div>