<div class="container mt-5">
  <div class="row">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3">
          <!--ジャンル検索-->
          <%= render 'public/items/sidebar' %>
        </div>
        <div class="col-md-9">
          <h2>商品一覧 <span style="font-size: smaller;">(全<%= @items_all_counter.count %>件)</span></h2>
          <div class="row">
            <% @items.each do |item| %>
              <div class="col-md-3 product-item mt-3">
                <%= link_to item_path(item) do %>
                  <%= image_tag item.image, class: "img-fluid" %>
                <% end %>
                <p><%= link_to item.name, item_path(item) %></p>
                <p>¥<%= item.price.floor.to_s(:delimited) %></p>
              </div>
            <% end %>
          </div>

          <div class="d-flex justify-content-center">
          <%= paginate @items, theme: 'bootstrap-5' %>
        </div>
      </div>
    </div>
  </div>
</div>