<h1>商品詳細</h1>

<table>
  <tbody>
    <tr>
      <td colspan="2">
        <%= image_tag @item.image, size: "400x300" %>
      </td>
    </tr>
    <tr>
      <td>商品名</td>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= @item.introduction %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= @item.genre.name %></td>
    </tr>
    <tr>
      <td>価格</td>
      <td><%= @item.price %></td>
    </tr>
  </tbody>
</table>

<%= form_with model:CartItem.new, url: cart_items_path, local:true do |f| %>
　<%= f.hidden_field :item_id, value: @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる", class: "btn btn-success" %>
<% end %>