<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      /* mainタグに背景画像を適用 */
      main {
        position: relative; /* オーバーレイを使用するために必要 */
        background-image: url('<%= asset_path('about_image3.jpg') %>');
        background-size: cover;
        background-position: center;
        min-height: 100vh; /* 画面全体の高さを確保 */
      }

      /* 透過オーバーレイ */
      main::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6); /* 透明度50%の白いオーバーレイ */
        z-index: 1; /* オーバーレイがコンテンツの後ろに来ないように */
      }

      /* コンテンツをオーバーレイの上に表示するためのスタイル */
      main > * {
        position: relative;
        z-index: 2;
      }
    </style>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light py-5 bg-secondary">
        <div class="container-fluid">
          <%= link_to "NAGANO CAKE", root_path, class: "navbar-brand" %>
          <ul class="navbar-nav ms-auto">
            <% if customer_signed_in? %>
              <div class="mt-3 mr-5 text-black">
                ようこそ、<%= current_customer.first_name %>さん！
              </div>
            <% end %>

            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", customers_my_page_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "カート", cart_items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "About", homes_about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <div class="search-container">
            <input type="text" name="q" placeholder="検索">
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer>
      <div class='container-fluid bg-secondary'>
        <div class='row'>
          <div class='col text-center'>
            <p>©️CopyRight 天気のg子.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
